<div class="container">
  <div class="jumbotron">
    <h1>Homework # 5</h1> 
    <p>For the Henry Books Database, design and develop a web application/interface in JSP running on Tomcat (or in ASP.NET and C# running in .NET) to manipulate the database.</p>
 
 
	<h2>The minimum requirements are:</h2>
 
<p>Allow for Maintenance Functions such as Add, Delete, and Modify information in the database for tables Book, Publisher, Author and Copy. (USING TEXTBOX TO ISSUE A QUERY AND RETREIVE RESULT IS NOT ACCEPTIBLE).</p>
 
<p>View (in separate pages) all books, all copies, all publishers, and so on.</p>
 
<p>Allow users to search for books by title and then show the inventory availability for such book, branch(es) where available, along with author and publisher information related to the books satisfying the title searched for.</p>
 
<p>There should be a main home page from which there are links to all other pages and functions, along with brief descriptions on what each page/function does.
 
All the above-mentioned requirements should be implemented as a visual and user-friendly interface. In other words, users should not need to know anything about SQL language to update or view the information.
 
Compress all of you web application files in a ZIP archive and submit to the Moodle system by the assignment deadline.</p>
  </div>
</div>
