<div class="page-header center">
	<h1 id="database_selected">Publisher</h1>
</div>

<button type="button" class="btn btn-success" data-toggle="collapse" data-target="#hform">Add Reccord</button>
<br>
<br>
<div id="hform" class="container collapse">
	<form class="form-inline" role="form" align="right" method="POST" action="/publisher/create">
	   <div class="form-group col-sm-2">
		      <label for=>Publisher Code</label>
			  <input type="text" class="form-control" id="" placeholder="Publisher Code" name="publisherCode">
	   </div>
	   <div class="form-group col-sm-2">
		      <label class="align-left" for="publisherName">Author Last</label>
			  <input type="text" class="form-control" id="" placeholder="Publisher Name" name="publisherName">
		</div>
	    <div class="form-group col-sm-2">
		      <label for="city">City</label>
			  <input type="text" class="form-control" id="" placeholder="City" name="city">
		</div>
		<div >
	   		<button align="right" type="submit" class="btn btn-success">Register</button>
	   	</div>
	</form>
</div>

<br>
<div class="panel panel-default">
 	<table class=" table table-hover">
 		<tr>
 		{{#each header}}
 				<th class='table-header'>{{this.name}}</th>
 		{{/each}}
 		</tr>
 		{{#each result}}
 			<tr>
 				<td> <input type="text" class="form-control" value="{{this.publisherCode}}" name="publisherCode" disabled></td>
 				<td> <input type="text" class="form-control" value="{{this.publisherName}}" name="publisherName"></td>
 				<td> <input type="text" class="form-control" value="{{this.city}}" name="city"></td>
				<td align="right">
	 				<a href="#" type="button" class="btn btn-danger submit-delete">Remove</a>
	 				<a href="#" type="button" class="btn btn-success submit-update">Update</a>
 				</td>
 			</tr>
 		{{/each}}
	</table>
</div>